<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="0.1.13" targetFramework="net45" />
  <package id="DualityEditor" version="0.1.223" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.86" targetFramework="net45" />
  <package id="System.IO.Abstractions.TestingHelpers" version="1.4.0.86" targetFramework="net45" />
</packages>