<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
	<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
	<add key="MyGet" value="https://www.myget.org/F/6416d9912a7c4d46bc983870fb440d25/" />
  </packageSources>
</configuration>